/* Default styles for desktop */
.hidden {
    display: none;
}

#res{
    display: none;
}
#registerFormContainer{
    display: none;
}
.container-admin {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; /* Changed background color to white */
    width:100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.styled-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    width: 250px;
    transition: transform 0.3s ease;
    text-align: left;
    background: linear-gradient(145deg, #005b99, #0073e6); /* Default gradient */
    text-decoration: none; /* Remove underline from hyperlinks */
}

.styled-button .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-right: 10px;
}

.styled-button .text {
    flex: 1;
    margin-left: 10px;
    text-align: center;
}

.styled-button .separator {
    width: 1px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 15px;
}

.styled-button:hover {
    transform: translateY(-5px);
}

.button-questions {
    background: linear-gradient(145deg, #0c6d4a, #107662);
}

.button-results {
    background: linear-gradient(145deg, #028e9d, #00848d);
}

.button-clear {
    background: linear-gradient(145deg, #6b0000, #750202);
}
.button-logout {
    background: linear-gradient(145deg, #df0303, #ea0b0b);
    position: fixed;
    bottom: 20px; /* Position the button 20px from the bottom */
    right: 20px; /* Position the button 20px from the right */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
}

.button-register {
    background: linear-gradient(145deg, #16a31b, #17a11e);
}

.button-program {
    background: linear-gradient(145deg, #9c27b0, #ba68c8);
}
.content-section{
    width:200%;
    height:100%;
    overflow: hidden;
}

/* Media queries for laptop and desktop */
@media (min-width: 768px) {
  /* Styles for laptop and desktop */
  .container-admin {
    width: 80%;
    margin: 0 auto;
  }
  .button-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .styled-button {
    width: 200px;
  }
}

/* Media queries for mobile */
@media (max-width: 767px) {
  /* Styles for mobile */
  .container-admin {
    width: 100%;
    padding: 20px;
    background-color: #fff; /* Changed background color to white */
  }
  .button-container {
    flex-direction: column;
    align-items: center;
  }
  .styled-button {
    width: 100%;
    padding: 10px;
  }
  .button-logout {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 15px;
    border-radius: 0;
    background: linear-gradient(145deg, #df0303, #ea0b0b);
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  }
}
